// Global styles for text
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

h1,
.h1 {
  font-size: 20px;
}

h2,
.h2 {
  font-size: 18px;
}
h3,
.h3 {
  font-size: 17px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

// Atomic styles for text
.serif {
  font-family: 'Montserrat', sans-serif;
}
.sans-serif {
  font-family: 'Montserrat', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}

.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}

.style-italic {
  font-style: italic;
}
.style-normal {
  font-style: normal;
}

.lh16 {
  line-height: 16px;
}
.lh20 {
  line-height: 20px;
}
.lh25 {
  line-height: 25px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}

// Sizes
.fs-medium-small {
  font-size: 14px;
}
.fs-medium {
  font-size: 18px;
}
.fs-large {
  font-size: 24px;
}
.fs-big {
  font-size: 36px;
}

// @todo its not in styleguite therefore shouldn't be here, ask Karol Bzik
.fs16 {
  font-size: 16px;
}

.text-underline {
  text-decoration: underline;
}
