<template>
  <div>
    <div class="delivery-details account-block shaded-box mb40" v-if="!isEdited">
      <!-- My shipping details header -->
      <div class="row mb30" v-if="!isEdited">
        <div class="col-xs-12 profile-title">
          <h3 class="m0 mb5 f-s-16 cl-gray-333435">
            {{ $t('Delivery Details') }}
          </h3>
          <p class="f-s-15 cl-gray-666666">
            {{ $t('Delivery details, Where you deliver your products') }}
          </p>
        </div>
      </div>

      <!-- My shipping details summary -->
      <div class="profile-br-box profile-info" v-if="!isEdited">
        <div>
          <div class="d-flex">
            <label>{{ $t('Name:') }}</label>
            <span>{{ shippingDetails.firstName }} {{ shippingDetails.lastName }}</span>
          </div>
          <base-checkbox
            v-if="useCompanyAddress"
            class="col-xs-12 mb25"
            id="useCompanyAddressFilled"
            v-model="useCompanyAddress"
            disabled
          >
            {{ $t("Use my company's address details") }}
          </base-checkbox>
          <p class="mb25">
            {{ shippingDetails.company }}
          </p>
          <div class="d-flex">
            <label>{{ $t('Email:') }}</label>
            <span>{{ currentUser.email }}</span>
          </div>
          <div class="d-flex">
            <label>{{ $t('Mobile:') }}</label>
            <span>
              {{ shippingDetails.phone }}
              <tooltip v-if="shippingDetails.phone">
                {{ $t('Phone number may be needed by carrier') }}
              </tooltip>
            </span>
          </div>
          <div class="d-flex">
            <label>{{ $t('Address:') }}</label>
            <span>
              {{ shippingDetails.street }}
              <span v-if="shippingDetails.house"> {{ shippingDetails.house }}</span>
              {{ shippingDetails.city }} {{ shippingDetails.postcode }}
              <span v-if="shippingDetails.region">{{ shippingDetails.region }}, </span>
              {{ getCountryName() }}
            </span>
          </div>
        </div>
      </div>

      <!-- My shipping details edit button -->
      <div class="edit-row flex" v-if="!isEdited">
        <a href="#" class="blue-link flex middle-xs" @click.prevent="edit">
          <svg class="mr10" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4243 1.26895C12.4697 0.230664 14.1706 0.230664 15.216 1.26895C16.2613 2.30719 16.2613 3.9966 15.216 5.03493L3.97949 16.1951C3.85924 16.3145 3.69619 16.3816 3.52614 16.3816H0.641116C0.28706 16.3816 0 16.0965 0 15.7449V12.8794C0 12.7105 0.0675576 12.5486 0.187767 12.4291L11.4243 1.26895ZM3.15057 11.2875L5.12894 13.2524L11.5685 6.85666L9.5901 4.89172L3.15057 11.2875ZM3.26059 15.1081H1.28223V13.1432L2.2439 12.188L4.22227 14.153L3.26059 15.1081ZM12.4751 5.95602L14.3093 4.13435C14.5735 3.87189 14.719 3.52299 14.719 3.15189C14.719 2.78078 14.5735 2.43188 14.3093 2.16942C14.0451 1.90695 13.6939 1.76245 13.3202 1.76245C12.9465 1.76245 12.5952 1.90699 12.331 2.16942L10.4968 3.99113L12.4751 5.95602Z" fill="#7FA3DF" />
          </svg>
          <span class="pr5 f-s-16 weight-600 lh20">
            {{ $t('Edit Your Perosnal Info') }}
          </span>
        </a>
      </div>
    </div>

    <div class="shaded-box">
      <div class="row mb30">
        <div class="col-xs-12 profile-title" :class="{ 'cl-accent' : !isEdited }">
          <h3 class="m0 mb5 f-s-16 cl-gray-333435">
            {{ $t('Additional Address') }}
          </h3>
          <p class="f-s-15 cl-gray-666666">
            {{ $t('Additional address, like your resident Address, work address etc..') }}
          </p>
        </div>
      </div>
      <div class="additional-info">
        <div class="row mb40">
          <div class="info-block col-xs-12 col-md-6">
            <div class="profile-br-box profile-info">
              <div class="d-flex">
                <span>{{ shippingDetails.firstName }} {{ shippingDetails.lastName }}</span>
              </div>
              <div class="d-flex">
                <label>{{ $t('Address:') }}</label>
                <span>
                  {{ shippingDetails.street }}
                  <span v-if="shippingDetails.house"> {{ shippingDetails.house }}</span>
                  {{ shippingDetails.city }} {{ shippingDetails.postcode }}
                  <span v-if="shippingDetails.region">{{ shippingDetails.region }}, </span>
                  {{ getCountryName() }}
                </span>
              </div>
              <div class="d-flex">
                <span>
                  {{ shippingDetails.phone }}
                </span>
              </div>
            </div>
            <div class="edit-row flex middle-xs">
              <a href="#" class="blue-link flex" @click.prevent="edit">
                <svg class="mr10" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4243 1.26895C12.4697 0.230664 14.1706 0.230664 15.216 1.26895C16.2613 2.30719 16.2613 3.9966 15.216 5.03493L3.97949 16.1951C3.85924 16.3145 3.69619 16.3816 3.52614 16.3816H0.641116C0.28706 16.3816 0 16.0965 0 15.7449V12.8794C0 12.7105 0.0675576 12.5486 0.187767 12.4291L11.4243 1.26895ZM3.15057 11.2875L5.12894 13.2524L11.5685 6.85666L9.5901 4.89172L3.15057 11.2875ZM3.26059 15.1081H1.28223V13.1432L2.2439 12.188L4.22227 14.153L3.26059 15.1081ZM12.4751 5.95602L14.3093 4.13435C14.5735 3.87189 14.719 3.52299 14.719 3.15189C14.719 2.78078 14.5735 2.43188 14.3093 2.16942C14.0451 1.90695 13.6939 1.76245 13.3202 1.76245C12.9465 1.76245 12.5952 1.90699 12.331 2.16942L10.4968 3.99113L12.4751 5.95602Z" fill="#7FA3DF" />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Edit Address') }}
                </span>
              </a>
              <a href="#" class="red-hover flex middle-xs">
                <svg class="mr10" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5232 6.16247C11.5366 5.8059 11.2581 5.50615 10.9015 5.49344C10.5459 5.48077 10.2472 5.75834 10.2338 6.11386L10.0029 12.2395C9.98943 12.5961 10.268 12.8959 10.6247 12.9086C10.9802 12.9212 11.2788 12.6436 11.2922 12.2882L11.5232 6.16247Z" fill="#666666" />
                  <rect x="7.76367" y="5.49347" width="1.29029" height="7.41516" rx="0.645145" fill="#666666" />
                  <path d="M6.19249 12.9084C6.54908 12.8957 6.82763 12.596 6.81419 12.2394L6.58324 6.11363C6.56984 5.7581 6.27114 5.48054 5.91558 5.49321C5.55899 5.50593 5.28044 5.80568 5.29389 6.16224L5.52486 12.288C5.53827 12.6436 5.83695 12.9211 6.19249 12.9084Z" fill="#666666" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.730469 3.02872C0.730469 2.68265 1.01102 2.4021 1.35709 2.4021H15.4584C15.8045 2.4021 16.0851 2.68265 16.0851 3.02872C16.0851 3.3748 15.8045 3.65535 15.4584 3.65535H14.7188L13.6522 15.4281C13.6232 15.7517 13.344 16 13.0096 16H3.78416C3.44978 16 3.17084 15.7518 3.14159 15.4283L2.07497 3.65535H1.35709C1.01102 3.65535 0.730469 3.3748 0.730469 3.02872ZM4.37532 14.7467H12.4191L13.424 3.65533H3.37061L4.37532 14.7467Z" fill="#666666" />
                  <path d="M10.5149 0H6.29985C5.70696 0 5.22461 0.4685 5.22461 1.04438V3.02872H6.5149V1.25325H10.2998V3.02872H11.5901V1.04438C11.5901 0.4685 11.1077 0 10.5149 0Z" fill="#666666" />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Remove') }}
                </span>
              </a>
            </div>
          </div>
          <div class="info-block col-xs-12 col-md-6">
            <div class="profile-br-box profile-info">
              <div class="d-flex">
                <span>{{ shippingDetails.firstName }} {{ shippingDetails.lastName }}</span>
              </div>
              <div class="d-flex">
                <label>{{ $t('Address:') }}</label>
                <span>
                  {{ shippingDetails.street }}
                  <span v-if="shippingDetails.house"> {{ shippingDetails.house }}</span>
                  {{ shippingDetails.city }} {{ shippingDetails.postcode }}
                  <span v-if="shippingDetails.region">{{ shippingDetails.region }}, </span>
                  {{ getCountryName() }}
                </span>
              </div>
              <div class="d-flex">
                <span>
                  {{ shippingDetails.phone }}
                </span>
              </div>
            </div>
            <div class="edit-row flex">
              <a href="#" class="blue-link flex middle-xs" @click.prevent="edit">
                <svg class="mr10" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4243 1.26895C12.4697 0.230664 14.1706 0.230664 15.216 1.26895C16.2613 2.30719 16.2613 3.9966 15.216 5.03493L3.97949 16.1951C3.85924 16.3145 3.69619 16.3816 3.52614 16.3816H0.641116C0.28706 16.3816 0 16.0965 0 15.7449V12.8794C0 12.7105 0.0675576 12.5486 0.187767 12.4291L11.4243 1.26895ZM3.15057 11.2875L5.12894 13.2524L11.5685 6.85666L9.5901 4.89172L3.15057 11.2875ZM3.26059 15.1081H1.28223V13.1432L2.2439 12.188L4.22227 14.153L3.26059 15.1081ZM12.4751 5.95602L14.3093 4.13435C14.5735 3.87189 14.719 3.52299 14.719 3.15189C14.719 2.78078 14.5735 2.43188 14.3093 2.16942C14.0451 1.90695 13.6939 1.76245 13.3202 1.76245C12.9465 1.76245 12.5952 1.90699 12.331 2.16942L10.4968 3.99113L12.4751 5.95602Z" fill="#7FA3DF" />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Edit Address') }}
                </span>
              </a>
              <a href="#" class="red-hover flex middle-xs">
                <svg class="mr10" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5232 6.16247C11.5366 5.8059 11.2581 5.50615 10.9015 5.49344C10.5459 5.48077 10.2472 5.75834 10.2338 6.11386L10.0029 12.2395C9.98943 12.5961 10.268 12.8959 10.6247 12.9086C10.9802 12.9212 11.2788 12.6436 11.2922 12.2882L11.5232 6.16247Z" fill="#666666" />
                  <rect x="7.76367" y="5.49347" width="1.29029" height="7.41516" rx="0.645145" fill="#666666" />
                  <path d="M6.19249 12.9084C6.54908 12.8957 6.82763 12.596 6.81419 12.2394L6.58324 6.11363C6.56984 5.7581 6.27114 5.48054 5.91558 5.49321C5.55899 5.50593 5.28044 5.80568 5.29389 6.16224L5.52486 12.288C5.53827 12.6436 5.83695 12.9211 6.19249 12.9084Z" fill="#666666" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.730469 3.02872C0.730469 2.68265 1.01102 2.4021 1.35709 2.4021H15.4584C15.8045 2.4021 16.0851 2.68265 16.0851 3.02872C16.0851 3.3748 15.8045 3.65535 15.4584 3.65535H14.7188L13.6522 15.4281C13.6232 15.7517 13.344 16 13.0096 16H3.78416C3.44978 16 3.17084 15.7518 3.14159 15.4283L2.07497 3.65535H1.35709C1.01102 3.65535 0.730469 3.3748 0.730469 3.02872ZM4.37532 14.7467H12.4191L13.424 3.65533H3.37061L4.37532 14.7467Z" fill="#666666" />
                  <path d="M10.5149 0H6.29985C5.70696 0 5.22461 0.4685 5.22461 1.04438V3.02872H6.5149V1.25325H10.2998V3.02872H11.5901V1.04438C11.5901 0.4685 11.1077 0 10.5149 0Z" fill="#666666" />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Remove') }}
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="flex middle-xs actions-sec">
          <button data-v-83fdf1b2="" type="button" data-testid="subscribeSubmit" class="btn-full flex middle-xs">
            <img src="/assets/plus-white.svg" alt=""> Add a new address
          </button>
        </div>
      </div>
    </div>

    <div class="shaded-box mt40" v-if="isEdited">
      <!-- My shipping details body (edit mode) -->
      <div class="row">
        <template>
          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="first-name"
            autocomplete="given-name"
            :placeholder="`${$t('First name')} *`"
            v-model.trim="shippingDetails.firstName"
            @input="$v.shippingDetails.firstName.$touch()"
            :validations="[
              {
                condition: !$v.shippingDetails.firstName.required && $v.shippingDetails.firstName.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.shippingDetails.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="last-name"
            autocomplete="family-name"
            :placeholder="`${$t('Last name')} *`"
            v-model.trim="shippingDetails.lastName"
            @input="$v.shippingDetails.lastName.$touch()"
            :validations="[{
              condition: !$v.shippingDetails.lastName.required && $v.shippingDetails.lastName.$error,
              text: $t('Field is required')
            }]"
          />

          <base-checkbox
            v-if="hasBillingAddress()"
            class="col-xs-12 pb20 check-box"
            id="addCompanyFilled"
            v-model="useCompanyAddress"
          >
            {{ $t("Use my company's address details") }}
          </base-checkbox>

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="street-address"
            autocomplete="address-line1"
            :placeholder="`${$t('Street name')} *`"
            v-model.trim="shippingDetails.street"
            @input="$v.shippingDetails.street.$touch()"
            :validations="[{
              condition: !$v.shippingDetails.street.required && $v.shippingDetails.street.$error,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="apartment-number"
            autocomplete="address-line2"
            :placeholder="`${$t('House/Apartment number')} *`"
            v-model.trim="shippingDetails.house"
            @input="$v.shippingDetails.house.$touch()"
            :validations="[{
              condition: !$v.shippingDetails.house.required && $v.shippingDetails.house.$error,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="city"
            autocomplete="address-level2"
            :placeholder="`${$t('City')} *`"
            v-model.trim="shippingDetails.city"
            @input="$v.shippingDetails.city.$touch()"
            :validations="[
              {
                condition: !$v.shippingDetails.city.required && $v.shippingDetails.city.$error,
                text: $t('Field is required')
              },
              {
                condition: $v.shippingDetails.city.$error && $v.shippingDetails.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="state"
            autocomplete="address-level1"
            :placeholder="$t('State / Province')"
            v-model.trim="shippingDetails.region"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="zip-code"
            autocomplete="postal-code"
            :placeholder="`${$t('Zip-code')} *`"
            v-model.trim="shippingDetails.postcode"
            @input="$v.shippingDetails.postcode.$touch()"
            :validations="[
              {
                condition: !$v.shippingDetails.postcode.required && $v.shippingDetails.postcode.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.shippingDetails.postcode.minLength,
                text: $t('Zip-code must have at least 3 letters.')
              }
            ]"
          />

          <base-select
            class="col-xs-12 col-md-6 mb15"
            name="countries"
            :options="countryOptions"
            :selected="shippingDetails.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.shippingDetails.country.$error && !$v.shippingDetails.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="shippingDetails.country"
            autocomplete="country-name"
            @blur="$v.shippingDetails.country.$touch()"
            @change="$v.shippingDetails.country.$touch()"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="phone-number"
            autocomplete="tel"
            :placeholder="$t('Phone Number')"
            v-model.trim="shippingDetails.phone"
          />

          <div class="hidden-xs col-sm-6 mb25" />

          <div class="col-xs-12 pt15 flex middle-xs actions-sec">
            <button-full
              @click.native="updateDetails"
              :disabled="$v.$invalid"
            >
              {{ $t('Update my shipping details') }}
            </button-full>
            <a href="#" @click="exitSection" class="f-s-14 lh17 weight-600 ml10">
              {{ $t('CANCEL') }}
            </a>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import MyShippingDetails from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyShippingDetails'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'

import ButtonFull from 'theme/components/theme/ButtonFull'
import Tooltip from 'theme/components/core/Tooltip'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'

export default {
  components: {
    ButtonFull,
    Tooltip,
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  mixins: [MyShippingDetails],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations: {
    shippingDetails: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>
