<template>
  <div>
    <div class="brands-breadcrumbs">
      <div class="container">
        <breadcrumbs
          :routes="[{name: 'PHOENIX', route_link: '/'}]"
          :active-route="$t('Shop By Brand')"
        />
      </div>
    </div>
    <brand-slider class="pb20" :brand-data="data" />
    <brand-filter :brand-filter="data" />
  </div>
</template>

<script>
import BrandSlider from 'theme/components/core/blocks/Brand/BrandSlider.vue'
import BrandFilter from 'theme/components/core/blocks/Brand/BrandFilter.vue'
import JsonData from 'theme/resource/brand-landing-page.json'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'

export default {
  data () {
    return {
      data: JsonData
    }
  },
  components: {
    BrandSlider,
    BrandFilter,
    Breadcrumbs
  }
}
</script>

<style lang="scss">
.brands-breadcrumbs {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
</style>
