<template>
  <div v-if="data">
    <div class="brands-breadcrumbs">
      <div class="container">
        <breadcrumbs
          :routes="[{name: 'PHOENIX', route_link: '/'}, {name: 'Shop By Brand', route_link: '/brands'}]"
          :active-route="$t('' + getBreadcrumb + '')"
        />
      </div>
    </div>
    <div class="brand-detail-wrap" v-for="item in data" :key="item.id">
      <div class="container">
        <div class="shaded-box brand-detail-info">
          <div class="brand-detail-img">
            <img class="object-cover" :src="item.image" :alt="item.name">
          </div>
          <div class="brand-detail-desc">
            <h1 class="brand-detail-title">
              {{ item.name }}
            </h1>
            <p class="brand-detail-txt">
              {{ item.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="brand-related-products-wrap" v-if="relatedBrands[0]">
      <div class="container">
        <div class="shaded-box brand-related-products">
          <div class="product-count">
            {{ relatedBrands[0].length + $t(' Items') }}
          </div>
          <product-listing columns="4" :products="relatedBrands[0]" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import JsonData from 'theme/resource/brand-landing-page.json';
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery'
import config from 'config'
import ProductListing from 'theme/components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'

export default {
  data () {
    return {
      data: '',
      dataParams: JsonData,
      relatedBrands: []
    };
  },
  components: {
    ProductListing,
    Breadcrumbs
  },
  mounted () {
    this.BrandProduct(this.$route.params.slug)
    this.getProductList();
  },
  computed: {
    getBreadcrumb () {
      return this.data[0].name;
    }
  },
  methods: {
    BrandProduct (id) {
      if (id) {
        this.data = this.dataParams.brands.filter(item => {
          return item.slug === id;
        });
      }
    },
    prepareRelatedBrandProductsQuery (key, sku) {
      let relatedBrandProductsQuery = new SearchQuery()

      relatedBrandProductsQuery = relatedBrandProductsQuery.applyFilter({ key: key, value: { 'in': sku } })

      relatedBrandProductsQuery = relatedBrandProductsQuery
        .applyFilter({ key: 'visibility', value: { 'in': [2, 3, 4] } })
        .applyFilter({ key: 'status', value: { 'in': [1] } })

      if (config.products.listOutOfStockProducts === false) {
        relatedBrandProductsQuery = relatedBrandProductsQuery.applyFilter({ key: 'stock.is_in_stock', value: { 'eq': true } })
      }

      return relatedBrandProductsQuery
    },
    getProductList () {
      let key = 'sku';
      let sku, relatedBrandProductsQuery, response;
      let responseArr = [];

      this.dataParams.brands.filter(async item => {
        if (this.$route.params.slug === item.slug) {
          if (item.brands_related_products) {
            sku = item.brands_related_products;
            relatedBrandProductsQuery = this.prepareRelatedBrandProductsQuery(key, sku);
            response = await this.$store.dispatch('product/list', {
              query: relatedBrandProductsQuery,
              size: 8,
              prefetchGroupProducts: false,
              updateState: false
            });
            responseArr.push(response.items);
          }
        }
      });
      this.relatedBrands = responseArr;
    }
  },
  updated () {
    if (this.data[0] === undefined) {
      this.$router.push({ name: 'page-not-found' })
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-2D242D: color(gray-2D242D);
$gray-EEEEEE: color(gray-EEEEEE);

.brands-breadcrumbs {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.brand-detail-wrap {
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  .brand-detail-info {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .brand-detail-img {
      border-radius: 10px 0 0 10px;
      overflow: hidden;
      flex: 0 0 56.3%;
      max-width: 56.3%;
      background-color: $gray-EEEEEE;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (max-width: 991px) {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }

    .brand-detail-desc {
      padding: 30px 40px;

      @media (max-width: 767px) {
        padding: 20px;
      }
    }

    .brand-detail-title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 23px;

      @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }

    .brand-detail-txt {
      line-height: 1.67;
      font-size: 18px;
      color: $gray-2D242D;

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}

.brand-related-products-wrap {
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  .brand-related-products {
    padding: 70px;

    @media (max-width: 767px) {
      padding: 15px;
    }

    .product-listing {
      & > div[class*="col-"] {
        @media (min-width: 1200px) {
          flex-basis: 20%;
          max-width: 20%;

          &:nth-child(n+5) {
            margin-top: 0;
          }

          &:nth-child(n+6) {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
</style>
