<template>
  <div id="checkout">
    <div class="container">
      <div class="row relative" v-show="!isThankYouPage">
        <div class="col-xl-8 col-lg-7 col-xs-12 order-steps-wrap">
          <div class="shaded-box checkout-details">
            <personal-details
              class="relative"
              :is-active="activeSection.personalDetails"
              :focused-field="focusedField"
            />
            <shipping class="relative" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
            <payment class="relative" :is-active="activeSection.payment" />
            <order-review class="relative" :is-active="activeSection.orderReview" />
            <div id="custom-steps" />
          </div>
        </div>
        <div class="hidden visible-lg col-xs-12 col-lg-5 col-xl-4 bg-cl-white order-summary-wrap">
          <cart-summary />
        </div>
      </div>
    </div>
    <thank-you-page v-show="isThankYouPage" />
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'

import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'

export default {
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    OrderReview,
    CartSummary,
    ThankYouPage
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $bg-secondary: color(secondary, $colors-background);
  $color-tertiary: color(tertiary);
  $color-primary: color(primary);
  $color-secondary: color(secondary);
  $color-error: color(error);
  $color-white: color(white);
  $color-black: color(black);
  $blue-76A3E4: color(blue-76A3E4);
  $gray-A3A3A3: color(gray-A3A3A3);
  $gray-666666: color(gray-666666);
  $gray-DBDBDB: color(gray-DBDBDB);
  $gray-222222: color(gray-222222);
  $gray-E5E5E5: color(gray-E5E5E5);
  $gray-FAFAFA: color(gray-FAFAFA);

  #checkout {
    position: relative;

    .number-circle {
      width: 35px;
      height: 35px;
      font-size: 16px;
      font-weight: 700;
      color: $color-white;
      background-color: $gray-A3A3A3;
      text-align: center;
      line-height: 35px;
      border-radius: 50%;
      position: relative;
      z-index: 1;

      @media (max-width: 767px) {
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
      }
    }
    .radioStyled {
      display: block;
      position: relative;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: relative;
        padding-left: 26px;

        &:before {
          content: "";
          position: absolute;
          top: 1px;
          left: 0;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          border: 1px solid $gray-A3A3A3;
        }

        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 3px;
          left: 2px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $color-primary;
        }
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }

    .payment-method-list {
      padding-left: 20px;
      max-width: 396px;
      margin-bottom: 15px;

      &.filled {
        padding-left: 0;
        margin-bottom: 0;

        .payment-method-item {
          .radioStyled {
            .checkmark {
              padding: 0 0 0 26px;
              border: 0 none;
              background-color: transparent;
              color: $gray-666666;
              font-weight: 500;

              &::before {
                left: 0;
                top: -1px;
              }

              &::after {
                left: 2px;
                top: 1px;
              }
            }

            input[checked] ~ .checkmark,
            input:checked ~ .checkmark {
              background-color: transparent;
              font-weight: 500;
            }
          }
        }
      }

      .payment-method-item {
        margin-bottom: 10px;

        .radioStyled {
          margin-bottom: 0;
          line-height: 1;

          .checkmark {
            font-size: 14px;
            font-weight: 500;
            color: $gray-666666;
            border: 1px solid $gray-E5E5E5;
            border-radius: 4px;
            background-color: $gray-FAFAFA;
            padding: 13px 15px 13px 41px;
            display: block;

            &:before {
              left: 14px;
              top: 12px;
            }

            &::after {
              left: 16px;
              top: 14px;
            }
          }

          input[checked] ~ .checkmark,
          input:checked ~ .checkmark {
            color: $color-primary;
            border-color: $color-secondary;
            background-color: rgba($color-secondary, 0.05);
            font-weight: 600;

            &:before {
              border-color: $color-secondary;
            }

            &::after {
              background-color: $bg-secondary;
            }
          }
        }
      }
    }

    .box-radio {
      .radioStyled {
        padding: 0;
        margin-bottom: 0;

        .shipping-item-price {
          font-size: 14px;
          font-weight: 700;
          display: block;
          color: $gray-222222;
        }

        .checkmark {
          padding: 9px 16px;
          font-size: 13px;
          font-weight: 400;
          color: $gray-666666;
          border: 1px solid $gray-A3A3A3;
          border-radius: 4px;
          background-color: rgba($gray-A3A3A3, 0.05);
          text-align: center;
          line-height: 1.5;
          position: static;
          width: auto;
          height: auto;
          display: block;

          &::before,
          &::after {
            display: none;
          }
        }

        input[checked] ~ .checkmark,
        input:checked ~ .checkmark {
          color: $color-secondary;
          border-color: $color-secondary;
          background-color: rgba($color-secondary, 0.05);

          &::before,
          &::after {
            display: none;
          }

          .shipping-item-price {
            color: $color-secondary;
          }
        }
      }
    }

    .shipping-address-list {
      .shipping-address-item {
        .checkmark {
          text-align: left;
          font-weight: 500;
          color: $gray-666666;
        }

        input[checked] ~ .checkmark,
        input:checked ~ .checkmark {
          color: $color-primary;
          font-weight: 600;
        }
      }
    }

    .filled-info {
      margin-top: 15px;
      font-size: 14px;
      font-weight: 600;
      color: $color-primary;

      @media (max-width: 767px) {
        font-size: 13px;
        padding-left: 41px;

        p {
          margin-bottom: 0;
        }
      }
    }

    .order-tab-title {
      color: $gray-A3A3A3;
      line-height: 35px;
      min-height: 35px;
      margin: 0;
      font-size: 16px;
      font-weight: 700;

      @media (max-width: 767px) {
        line-height: 26px;
        min-height: 26px;
        font-size: 14px;
      }
    }

    .active {
      .number-circle {
        background-color: $blue-76A3E4;
      }

      .order-tab-title {
        color: $blue-76A3E4;
      }
    }

    .order-tab-wrap {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 17px;
        width: 2px;
        height: 100%;
        background-color: $gray-DBDBDB;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .select-wrapper,
    .base-input {
      @media (max-width: 767px) {
        margin-bottom: 5px;
      }
    }
  }

  .line {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 37px;
      z-index: -1;
      width: 1px;
      height: 100%;
      background-color: $bg-secondary;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .checkout-title {
    @media (max-width: 767px) {
      background-color: $bg-secondary;
      margin-bottom: 25px;

      h1 {
        font-size: 36px;
      }
    }
  }

  .checkout-details {
    padding: 40px;
    margin: 40px 50px 40px 0;

    @media (max-width: 1199px) {
      margin-right: 0;
    }

    @media (max-width: 991px) {
      margin-right: 0;
      padding: 20px;
    }

    @media (max-width: 767px) {
      margin: 16px 0;

      & > .active {
        padding-bottom: 0;
      }
    }
  }

  .order-summary-wrap {
    box-shadow: 0 0 20px rgba($color-black, 0.08);
    position: absolute;
    right: calc(-50vw + 50% + 8px);
    top: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 40px 30px;
    height: calc(100vh - 135px);

    // @media (min-width: 1925px) {
    //   right: calc(-100vw / 2 + 1270px / 2);
    // }

    @media (min-width: 1920px) and (max-width: 1924px) {
      flex-basis: 50.4%;
      max-width: 50.4%;
      width: 50.4%;
    }

    @media (min-width: 1671px) and (max-width: 1919px) {
      flex-basis: 40.4%;
      max-width: 40.4%;
      width: 40.4%;
    }

    @media (min-width: 1271px) and (max-width: 1670px) {
      flex-basis: 35.4%;
      max-width: 35.4%;
      width: 35.4%;
    }

    @media (max-width: 1270px) {
      padding: 40px 20px;
      position: static;
    }
  }

  .order-steps-wrap {
    @media (min-width: 2561px) {
      flex-basis: 100%;
      max-width: 100%;

      .checkout-details {
        margin-right: 0;
      }
    }

    @media (min-width: 1271px) and (max-width: 1670px) {
      flex-basis: 65%;
      max-width: 65%;
    }
  }

  .edit-btn {
    font-size: 14px;
    font-weight: 600;
    color: $gray-666666;

    .material-icons {
      font-size: 22px;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    @media (max-width: 767px) {
      font-size: 11px;
    }
  }

  .button-container-wrap {
    @media (max-width: 767px) {
      margin-top: 10px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: stretch;

      .button-container {
        margin-bottom: 15px;

        button {
          width: 100%;
        }
      }

      .login-link {
        text-align: center;
        margin-left: 0;
      }
    }
  }

  .number-circle-wrap {
    @media (max-width: 767px) {
      padding-right: 0;
    }
  }
</style>
