<template>
  <div id="contact_us">
    <div class="bg-cl-f5 py20 pl20">
      <div class="container">
        <breadcrumbs
          :routes="[{name: 'Homepage', route_link: '/'}]"
          active-route="Contact Us"
        />
        <h2 class="cl-22">
          {{ $t('Contact Us') }}
        </h2>
      </div>
    </div>
    <div class="container pt45 pb70">
      <div class="row px20 pt0">
        <div class="col-md-6 ma col-xs-12 block">
          <form action="#" @submit.prevent="contactus" class="contact-us-form">
            <div class="row acc-fields">
              <base-input
                class="col-xs-12 col-md-12 mb10"
                type="text"
                name="name"
                v-model="formData.name"
                @blur="$v.formData.name.$touch()"
                :placeholder="$t('Name')"
                :validations="[
                  {
                    condition: !$v.formData.name.required && $v.formData.name.$error,
                    text: $t('This is a required field.')
                  },
                  {
                    condition: !$v.formData.name.minLength,
                    text: $t('Name must have at least 2 letters.')
                  }
                ]"
              />
              <base-input
                type="email"
                name="email"
                class="col-xs-12 col-md-12 mb10"
                v-model="formData.email"
                @blur="$v.formData.email.$touch()"
                :placeholder="$t('Email')"
                :validations="[
                  {
                    condition: !$v.formData.email.required && $v.formData.email.$error,
                    text: $t('This is a required field.')
                  },
                  {
                    condition: !$v.formData.email.email && $v.formData.email.$error,
                    text: $t('Please provide valid e-mail address.')
                  }
                ]"
              />
              <base-textarea
                class="col-xs-12 col-md-12 mb10"
                type="text"
                name="comment"
                v-model="formData.comment"
                @blur="$v.formData.comment.$touch()"
                :placeholder="$t('What\'s on your mind?')"
                :validations="[
                  {
                    condition: $v.formData.comment.$error && !$v.formData.comment.required,
                    text: $t('This is a required field.')
                  }
                ]"
              />
              <button-full type="submit" class="btn-primary btn-black-dark mt-2 contact-us-submit">
                {{ $t('Submit') }}
              </button-full>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { required, email, minLength } from 'vuelidate/lib/validators'
import { AddComment } from 'src/modules/aureatelabs/contact-us/components/AddComment'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  validations: {
    formData: {
      email: {
        required,
        email
      },
      name: {
        minLength: minLength(2),
        required
      },
      comment: {
        required
      }
    }
  },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  components: {
    Breadcrumbs,
    BaseInput,
    BaseTextarea,
    ButtonFull
  },
  mixins: [ AddComment ],
  data () {
    return {
      formData: {
        name: '',
        email: '',
        comment: ''
      }
    }
  },
  methods: {
    contactus () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })

        return false
      }
    },
    submit () {
      this.addComment({
        'subscriber': {
          'name': this.formData.name,
          'email': this.formData.email,
          'comment': this.formData.comment
        }
      })
    },
    clearContactForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.comment = ''
      this.$v.$reset()
    }
  },
  metaInfo () {
    return {
      title: 'Contact Us',
      meta: !this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: 'Contact Us' }] : []
    }
  },
  mounted () {
    this.$bus.$on('clear-add-contact-form', this.clearContactForm)
  },
  destroyed () {
    this.$bus.$off('clear-add-contact-form', this.clearContactForm)
  }
}
</script>

<style lang="scss">
#contact_us {
  .contact_info {
    width: 100%;
    .info-details {
      padding-bottom: 15px;
      p.title-name {
        font-weight: bold;
        margin-bottom: 10px;
      }
      div {
        p {
          margin: 0;
          line-height: 27px;
        }
      }
    }
  }
  h3.page-subheading {
    font-weight: 700;
    color: #222222;
  }
}
</style>
