<template>
  <div id="my_account">
    <div class="container pt45 pb70">
      <div class="flex account-row top-xs">
        <div class="mobile-menu hidden-md">
          <span :class="mobileActiveMenuIconClass" @click="showMyAccountMenuPopup">
            {{ mobileActiveMenuTxt }}
          </span>
        </div>
        <div class="account-menu block shaded-box mr40">
          <nav class="static-menu">
            <ul class="m0 p0">
              <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
                <router-link :to="localizedRoute(page.link)" @click.native="updatedMobileMenuTxt(page.title, page.class)">
                  <span class="relative pl30 block">{{ page.title }}</span>
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="account-info w-100">
          <no-ssr>
            <component :is="this.$props.activeBlock" />
          </no-ssr>
        </div>
      </div>
    </div>
    <my-account-menu-popup v-if="loadMyAccountMenuPopup" />
  </div>
</template>

<script>
import MyAccount from '@vue-storefront/core/pages/MyAccount'
import MyProfile from '../components/core/blocks/MyAccount/MyProfile'
import MyShippingDetails from '../components/core/blocks/MyAccount/MyShippingDetails'
import MyNewsletter from '../components/core/blocks/MyAccount/MyNewsletter'
import MyOrders from '../components/core/blocks/MyAccount/MyOrders'
import MyOrder from '../components/core/blocks/MyAccount/MyOrder'
import MyRecentlyViewed from '../components/core/blocks/MyAccount/MyRecentlyViewed'
import NoSSR from 'vue-no-ssr'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { mapState } from 'vuex'
const MyAccountMenuPopup = () => import(/* webpackChunkName: "vsf-myaccountmenu-modal" */ 'theme/components/core/MyAccountMenuPopup.vue')

export default {
  data () {
    return {
      navigation: [
        { title: this.$t('My profile'), link: '/my-account', class: 'my-profile-icon' },
        { title: this.$t('Delivery Details'), link: '/my-account/shipping-details', class: 'delivery-details-icon' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter', class: 'newsletter-icon' },
        { title: this.$t('Order'), link: '/my-account/orders', class: 'order-icon' },
        { title: this.$t('My Reward Points'), link: '#', class: 'reward-points-icon' },
        { title: this.$t('My Product Reviews'), link: '#', class: 'review-icon' },
        { title: this.$t('Recently Viewed Products'), link: '/my-account/recently-viewed', class: 'recently-viewed-icon' }
      ],
      isActive: false,
      mobileActiveMenuTxt: this.$t('My profile'),
      loadMyAccountMenuPopup: false,
      mobileActiveMenuIconClass: ''
    }
  },
  components: {
    MyProfile,
    MyShippingDetails,
    MyNewsletter,
    MyOrders,
    MyOrder,
    MyRecentlyViewed,
    'no-ssr': NoSSR,
    MyAccountMenuPopup
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  mixins: [MyAccount],
  mounted () {
    const navigation = this.navigation;
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.mobileActiveMenuTxt = nav.title;
        this.mobileActiveMenuIconClass = nav.class;
      }
    });
    this.$bus.$on('my-account-menu-clicked', (menutext, menuClass) => {
      this.updatedMobileMenuTxt(menutext, menuClass);
    })
  },
  computed: {
    ...mapState({
      isOpen: state => state.ui.myaccountmenuPopup
    })
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    active: function () {
      this.isActive = !this.isActive;
    },
    updatedMobileMenuTxt (mobilemenutxt, mobilemenuclass) {
      this.mobileActiveMenuTxt = mobilemenutxt;
      this.mobileActiveMenuIconClass = mobilemenuclass;
    },
    showMyAccountMenuPopup () {
      this.loadMyAccountMenuPopup = true
      this.$bus.$emit('modal-show', 'modal-myaccountmenu')
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);

.static-menu {
  ul {
    list-style: none;
  }

  a {
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-tertiary;
    }

    &:hover,
    &.router-link-exact-active {
      &:after {
        opacity: 0;
      }
    }
  }
}
</style>
