<template>
  <section class="brands-slider-sec">
    <div class="container">
      <div class="shaded-box">
        <div class="title-sec">
          <h2 class="sec-title flex middle-xs center-xs m0">
            <div class="sec-title-wrap">
              <div class="sec-title-cover">
                <div class="sec-title-cover-cover">
                  {{ $t('Featured Brands') }}
                </div>
              </div>
            </div>
          </h2>
        </div>
        <div class="brands-slider">
          <no-ssr>
            <carousel
              :per-page="1"
              :per-page-custom="[[0, 1], [480, 2], [576, 3], [992, 4], [1200, 5]]"
              :navigation-enabled="true"
              :pagination-enabled="false"
              pagination-active-color="#ffffff"
              pagination-color="#e0e0e0"
              navigation-next-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.89844 21L11.7979 11.1005L1.89844 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
              navigation-prev-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.9023 21L3.00285 11.1005L12.9023 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
            >
              <slide v-for="(slide, index) in filteredFeaturedBrands" :key="index">
                <div class="brands align-center">
                  <div class="brands-img-wrap">
                    <div class="brands-img">
                      <router-link
                        :to="localizedRoute(slide.link)"
                      >
                        <img :src="slide.image" :alt="slide.name">
                      </router-link>
                    </div>
                  </div>
                  <div class="brands-title">
                    <router-link
                      :to="localizedRoute(slide.link)"
                    >
                      {{ slide.name }}
                    </router-link>
                  </div>
                </div>
              </slide>
            </carousel>
          </no-ssr>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import sliderData from 'theme/resource/slider.json'

export default {
  props: {
    'brandData': {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
    }
  },
  components: {
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  },
  computed: {
    filteredFeaturedBrands () {
      var filteredBrands = [];
      Object.entries(this.brandData).map((key, value) => {
        if (key[0] === 'brands') {
          Object.entries(key[1]).map((value) => {
            if (value[1].is_featured === 1 && value[1].status === 1) {
              filteredBrands.push(value[1]);
            }
          });
        }
      });
      return filteredBrands;
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
$color-secondary: color(secondary);
$gray-DBDBDB: color(gray-DBDBDB);
$gray-DDDDDD: color(gray-DDDDDD);

.brands-slider {
  .VueCarousel-inner {
    margin: 0 -1.6%;
  }

  .VueCarousel-slide {
    padding: 0 1.6%;
  }

  .VueCarousel-navigation-button {
    padding: 0;

    svg {
      path {
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $color-secondary;
        }
      }
    }

    &.VueCarousel-navigation--disabled {
      &:hover {
        svg {
          path {
            stroke: $gray-DBDBDB;
          }
        }
      }
    }
  }

  .VueCarousel-pagination {
    .VueCarousel-dot-container {
      margin: 35px auto 0 !important;
      display: block;
      font-size: 0;

      .VueCarousel-dot {
        width: 25px !important;
        height: 3px !important;
        padding: 0 !important;
        margin: 5px 4px 0 !important;
        border-radius: 0;
        background-color: $gray-DDDDDD !important;

        &.VueCarousel-dot--active {
          background-color: $color-secondary !important;
        }
      }
    }
  }

  .brands {
    &:hover {
      .brands-title {
        a {
          color: $color-secondary;
        }
      }
    }
  }

  .brands-img-wrap {
    position: relative;
    display: inline-block;

    .brands-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      transition: all 0.3s ease 0s;
      transform: scale(1);

      a, img {
        display: block;
      }

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  .brands-title {
    font-size: 15px;
    font-weight: 600;
    margin: 50px 0 0;

    @media (max-width: 767px) {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}
</style>
