<template>
  <li class="product-item">
    <div class="product-image-wrap">
      <div class="product-cover">
        <product-image :image="image" />
      </div>
    </div>
    <div class="product-item-content">
      <div class="product-item-text">
        <div class="product-item-text-wrap">
          <h5 class="product-item-title">
            {{ product.name | htmlDecode }}
          </h5>
          <div class="h6 pt5 cl-error" v-if="product.errors && Object.keys(product.errors).length > 0">
            {{ product.errors | formatProductMessages }}
          </div>
          <div class="product-item-info-list">
            <div class="product-item-info-item">
              <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
              <span class="product-item-info-text weight-600 text-underline cl-primary">{{ $t('Natsuya Semikawa') }}</span>
            </div>
            <div class="product-item-info-item">
              <span class="product-item-info-title">{{ $t('Number of Page: ') }}</span>
              <span class="product-item-info-text">{{ $t('150') }}</span>
            </div>
          </div>
          <quantity-box
            v-model.number="product.qty"
            :aria-label="'Quantity'"
            :has-label="true"
            :custom-width="10"
            class="product-quantity h5 cl-primary lh25 qty"
            size="lg"
          />
        </div>
      </div>
      <div class="product-item-price-sec">
        <div class="weight-700 cl-secondary h1">
          <div class="prices" v-if="isOnline && product.totals">
            <span class="cl-error" v-if="product.totals.discount_amount">{{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }} </span>
            <span class="price-original h5" v-if="product.totals.discount_amount">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
            <span v-if="!product.totals.discount_amount">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
          </div>
          <div class="prices" v-else>
            <span class="cl-error" v-if="product.special_price">{{ product.price_incl_tax * product.qty | price(storeView) }} </span>
            <span class="price-original h5" v-if="product.special_price">{{ product.original_price_incl_tax * product.qty | price(storeView) }}</span>
            <span v-if="!product.special_price">{{ product.price_incl_tax * product.qty | price(storeView) }}</span>
          </div>
        </div>
        <div class="mt5">
          <button @click="removeItemFromCart" class="brdr-none bg-cl-transparent clear-btn flex middle-xs p0">
            <i class="material-icons pointer mr5">cancel</i>
            {{ $t('Delete') }}
          </button>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { Product } from '@vue-storefront/core/modules/checkout/components/Product'
import { onlineHelper } from '@vue-storefront/core/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import QuantityBox from 'theme/components/core/blocks/Product/QuantityBox'
import config from 'config'

export default {
  computed: {
    storeView () {
      return currentStoreView()
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    }
  },
  mixins: [Product],
  components: {
    ProductImage,
    QuantityBox
  },
  methods: {
    removeFromCart () {
      this.$store.dispatch('cart/removeItem', { product: this.product })
    },
    removeItemFromCart () {
      if (config.cart.askBeforeRemoveProduct) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          item: this.product,
          message: this.$t('<img class="mb40" src="/assets/red-close.svg" alt="Warninig" /><h2 class="notification-title">Are you sure?</h2>Do you really want to delete these record? This process cannot be undone.'),
          action2: { label: this.$t('Delete'), action: this.removeFromCart },
          action1: { label: this.$t('Cancel'), action: 'close' },
          class: 'large-notification',
          hasNoTimeout: true
        })
      } else {
        this.removeFromCart()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);
$color-white: color(white);

.price-original {
  text-decoration: line-through;
}

.product-item {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .product-image-wrap {
    flex: 0 0 120px;
    max-width: 120px;

    @media (max-width: 1270px) {
      flex: 0 0 80px;
      max-width: 80px;
    }

    .product-cover {
      border-radius: 6px;
      overflow: hidden;
      position: relative;

      &__thumb {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 100%;
          background-color: rgba($color-white, 0.6);
          opacity: 0;
          transition: all 0.5s ease 0s;
        }
      }

      &:hover {
        .product-cover__thumb {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .product-item-content {
    flex: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding-left: 15px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1270px) {
      flex: calc(100% - 80px);
      max-width: calc(100% - 80px);
    }
  }

  .product-item-title {
    margin-bottom: 10px;
  }

  .product-item-info-list {
    font-weight: 500;
    font-size: 13px;
    color: $gray-666666;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .product-quantity {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
  }
}

.product-item-text-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.clear-btn {
  margin: 0;
  color: $gray-666666;
  font-weight: 500;
  font-size: 12px;

  .material-icons {
    font-size: 15px;
  }

  &:hover {
    color: $color-secondary;
  }
}

.product-item-price-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 10px;

  .h1 {
    @media (max-width: 1270px) {
      font-size: 16px;
    }
  }
}
</style>

<style lang="scss">
.product-item {
  .product-quantity {
    .qty-element-label {
      display: none;
    }
  }
}
</style>
