<template>
  <footer id="site-footer" class="site-footer" v-if="!isCheckoutPage || isThankYouPage">
    <!-- Let Us Help You Section -->
    <section class="let-us-help-sec bg-cl-white">
      <div class="section">
        <div class="container">
          <div class="row middle-xs center-xs">
            <div class="col-xs-12 col-md-4 col-xl-3">
              <h2 class="let-us-help-title">
                {{ $t('Let us help you') }}
                <img class="ml10" src="~theme/assets/right-arrow.svg" alt="Right Arrow">
              </h2>
            </div>
            <div class="col-xs-12 col-md-auto">
              <ul class="custom-list">
                <li>How to apply for membership and purchase products</li>
                <li>How to choose a premium</li>
                <li>Payment method</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="top-footer">
      <div class="container">
        <div class="align-center">
          <div class="footer-logo mb20">
            <footer-logo width="auto" height="auto" />
          </div>
          <address class="footer-address style-normal lh25 mb40">
            <div class="m0 f-s-16 weight-700">
              {{ $t('Kadokawa Amarin Company LTD.') }}
            </div>
            <p class="cl-gray-666666 mb10">
              {{ $t('378 Chaiyaphruk Road, Taling Chan, Bangkok 10170') }}
            </p>
            <p class="cl-gray-666666">
              {{ $t('TEL:') }}
              <a class="cl-gray-666666" href="tel:02-434-0333">
                {{ $t('02-434-0333') }}
              </a>
            </p>
          </address>
          <div class="footer-social flex middle-xs center-xs">
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill-path" fill-rule="evenodd" clip-rule="evenodd" d="M12.0011 0C8.74209 0 8.33309 0.01425 7.05307 0.0725C5.77556 0.131 4.90355 0.33325 4.14054 0.63C3.35128 0.9365 2.68178 1.3465 2.01477 2.01375C1.34726 2.68075 0.93726 3.35025 0.629757 4.13925C0.332253 4.9025 0.129751 5.77475 0.0722508 7.05175C0.0150002 8.33175 0 8.741 0 12C0 15.259 0.0145002 15.6668 0.0725008 16.9468C0.131251 18.2243 0.333503 19.0962 0.630007 19.8592C0.93676 20.6485 1.34676 21.318 2.01402 21.985C2.68078 22.6525 3.35029 23.0635 4.13904 23.37C4.90255 23.6667 5.77481 23.869 7.05207 23.9275C8.33209 23.9858 8.74084 24 11.9996 24C15.2589 24 15.6667 23.9858 16.9467 23.9275C18.2242 23.869 19.0972 23.6667 19.8607 23.37C20.6497 23.0635 21.3182 22.6525 21.985 21.985C22.6525 21.318 23.0625 20.6485 23.37 19.8595C23.665 19.0963 23.8675 18.224 23.9275 16.947C23.985 15.667 24 15.259 24 12C24 8.741 23.985 8.332 23.9275 7.052C23.8675 5.7745 23.665 4.9025 23.37 4.1395C23.0625 3.35025 22.6525 2.68075 21.985 2.01375C21.3175 1.34625 20.65 0.93625 19.86 0.63C19.0949 0.33325 18.2224 0.131 16.9449 0.0725C15.6649 0.01425 15.2574 0 11.9974 0H12.0011ZM10.9246 2.1625C11.2441 2.162 11.6006 2.1625 12.0011 2.1625C15.2052 2.1625 15.5849 2.174 16.8502 2.2315C18.0202 2.285 18.6552 2.4805 19.0782 2.64475C19.6382 2.86225 20.0375 3.12225 20.4572 3.54225C20.8772 3.96225 21.1372 4.36225 21.3552 4.92225C21.5195 5.34475 21.7152 5.97975 21.7685 7.14975C21.826 8.41475 21.8385 8.79475 21.8385 11.9973C21.8385 15.1998 21.826 15.5798 21.7685 16.8447C21.715 18.0147 21.5195 18.6497 21.3552 19.0723C21.1377 19.6322 20.8772 20.031 20.4572 20.4508C20.0372 20.8708 19.6385 21.1307 19.0782 21.3482C18.6557 21.5132 18.0202 21.7082 16.8502 21.7617C15.5852 21.8192 15.2052 21.8318 12.0011 21.8318C8.79684 21.8318 8.41709 21.8192 7.15207 21.7617C5.98206 21.7077 5.34706 21.5122 4.9238 21.348C4.3638 21.1305 3.96379 20.8705 3.54379 20.4505C3.12378 20.0305 2.86378 19.6315 2.64578 19.0713C2.48153 18.6488 2.28577 18.0138 2.23252 16.8438C2.17502 15.5787 2.16352 15.1987 2.16352 11.9943C2.16352 8.78975 2.17502 8.41175 2.23252 7.14675C2.28602 5.97675 2.48153 5.34175 2.64578 4.91875C2.86328 4.35875 3.12378 3.95875 3.54379 3.53875C3.96379 3.11875 4.3638 2.85875 4.9238 2.64075C5.34681 2.47575 5.98206 2.28075 7.15207 2.227C8.25909 2.177 8.68809 2.162 10.9246 2.1595V2.1625ZM18.4067 4.155C17.6117 4.155 16.9667 4.79925 16.9667 5.5945C16.9667 6.3895 17.6117 7.0345 18.4067 7.0345C19.2017 7.0345 19.8467 6.3895 19.8467 5.5945C19.8467 4.7995 19.2017 4.1545 18.4067 4.1545V4.155ZM12.0011 5.8375C8.59784 5.8375 5.83856 8.59675 5.83856 12C5.83856 15.4032 8.59784 18.1612 12.0011 18.1612C15.4044 18.1612 18.1627 15.4032 18.1627 12C18.1627 8.59675 15.4042 5.8375 12.0009 5.8375H12.0011ZM12.0011 8C14.2101 8 16.0012 9.79075 16.0012 12C16.0012 14.209 14.2101 16 12.0011 16C9.79185 16 8.00108 14.209 8.00108 12C8.00108 9.79075 9.79185 8 12.0011 8Z" fill="#888888" />
              </svg>
            </a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
              <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill-path" fill-rule="evenodd" clip-rule="evenodd" d="M11 3.652L9.00626 3.65337C7.44277 3.65337 7.13961 4.42475 7.13961 5.55638V8.05338H10.8689L10.3831 11.9653H7.13961V22H3.25141V11.9653H0V8.05338H3.25141V5.17C3.25141 1.82188 5.22 0 8.09412 0C9.47094 0 10.6545 0.105875 11 0.154V3.652Z" fill="#888888" />
              </svg>
            </a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill-path" fill-rule="evenodd" clip-rule="evenodd" d="M19.7477 4.4526C19.756 4.64643 19.7615 4.84026 19.7615 5.03684C19.7615 10.9988 15.2213 17.875 6.919 17.875C4.36975 17.875 1.99787 17.1285 0 15.8487C0.353375 15.89 0.71225 15.9106 1.07662 15.9106C3.19137 15.9106 5.137 15.1902 6.6825 13.9791C4.70662 13.9434 3.04012 12.6388 2.46537 10.8462C2.74175 10.8985 3.02362 10.926 3.31512 10.926C3.72625 10.926 4.125 10.871 4.5045 10.7679C2.43925 10.3541 0.884125 8.52991 0.884125 6.34416C0.884125 6.32492 0.884125 6.30567 0.884125 6.28642C1.49187 6.6246 2.189 6.82805 2.92875 6.85142C1.71738 6.04173 0.919875 4.66017 0.919875 3.09579C0.919875 2.26823 1.14262 1.49291 1.53175 0.826184C3.75787 3.5563 7.084 5.35301 10.835 5.54135C10.758 5.21142 10.7181 4.86638 10.7181 4.51308C10.7181 2.02078 12.7394 0 15.2309 0C16.5303 0 17.7031 0.548498 18.5254 1.42555C19.5539 1.22347 20.5205 0.848179 21.3923 0.331299C21.0554 1.38431 20.339 2.26823 19.4081 2.82772C20.3211 2.71775 21.1901 2.4758 22 2.11701C21.395 3.02155 20.6291 3.81612 19.7477 4.4526Z" fill="#888888" />
              </svg>
            </a>
            <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
              <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="fill-rect" width="23" height="16" rx="3" fill="#888888" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8811 7.82117C15.0283 7.89494 15.0283 8.10502 14.8811 8.17879L9.2896 10.9807C9.15661 11.0474 9 10.9507 9 10.8019V5.19802C9 5.04926 9.15661 4.95257 9.2896 5.01921L14.8811 7.82117Z" fill="white" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bottom-footer">
      <div class="container">
        <p class="align-center">
          {{ $t('&copy;') }} <a href="#">Kadokawa Amarin Co. Ltd</a>{{ $t('. All Rights Reserved.') }}
        </p>
      </div>
    </section>
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button type="button" class="btn-top button no-outline brdr-none cl-white bg-cl-secondary :bg-cl-th-secondary py5 px5">
        <i
          class="material-icons pointer"
          role="button"
        >
          expand_less
        </i>
      </button>
    </back-to-top>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'
import CurrentPage from 'theme/mixins/currentPage'
// import LanguageSwitcher from '../../LanguageSwitcher.vue'
// import Newsletter from 'theme/components/core/blocks/Footer/Newsletter'
import BackToTop from 'theme/components/core/BackToTop'
import { getPathForStaticPage } from 'theme/helpers'
import config from 'config'
import FooterLogo from 'theme/components/core/FooterLogo'

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path))
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
    },
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  components: {
    // Newsletter,
    // LanguageSwitcher,
    BackToTop,
    FooterLogo
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.icon {
  transition: 0.3s all;
}

.social-icon {
  width: 40px;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
    .icon {
      fill: $color-secondary;
    }
  }
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.bottom-links {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.footer__version-info {
  display: flex;
  color: $color-secondary;
  font-size: 0.7rem;
  @media (min-width: 768px) {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}

.underline {
  &:hover {
    color: $color-secondary;
    &:after {
      background-color: $color-secondary;
    }
  }
}
.legal-entity-link {
  text-align: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.privacy-policy-link {
  text-align: right;
  @media (min-width: 768px) {
    display: none;
  }
}

@media (max-width: 595px) {
  .no-mobile {
    display: none;
  }

  .social {
    margin-top: 0;
  }

  .footer-links {
    padding-bottom: 30px;
  }
}

.top-footer {
  padding: 50px 0;
}

.bottom-footer {
  color: $white;
  background-color: $color-primary;
  padding: 20px 0;

  a {
    color: $white;

    &:hover {
      color: $color-secondary;
    }
  }
}

.footer-social {
  a {
    margin: 0 9px;

    &:hover {
      svg {
        rect, path {
          transition: all 0.3s ease 0s;
        }
        .fill-path {
          fill: $color-secondary;
        }
        .fill-rect {
          fill: $color-secondary;
        }
      }
    }
  }
}

.let-us-help-sec {
  .section {
    background-color: rgba($color-secondary, 0.2);
  }

  .let-us-help-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;

    @media (max-width: 767px) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  .custom-list {
    li {
      @media (max-width: 767px) {
        margin-bottom: 14px;
        font-size: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.footer-address {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
</style>
