<template>
  <modal class="product-sorting-popup" name="modal-productsortingpopup" :width="445">
    <div slot="header" class="align-center">
      {{ $t('SORT') }}
    </div>
    <div slot="content">
      <ul class="sorting-menu">
        <li v-for="(variant, index) in sortingVariants" :key="variant.id" @click="sortProducts(variant)" class="sorting-menu-item" :class="[ 'sorting-menu-item', (variant.id === currentPage && currentPage !== '' ? 'active' : ''), (index === 0 && currentPage === undefined ? 'active' : '') ]">
          {{ $t(variant.label) }}
        </li>
      </ul>
    </div>
  </modal>
</template>
<script>
import i18n from '@vue-storefront/i18n'
import Modal from 'theme/components/core/Modal'
import SortBy from '@vue-storefront/core/compatibility/components/SortBy'
import { products } from 'config'

export default {
  mixins: [SortBy],
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      sortby: null
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$bus.$emit('modal-show', 'modal-productsortingpopup')
    })
  },
  computed: {
    currentPage () {
      return this.$route.query.sort;
    }
  },
  methods: {
    sortProducts (sortValues) {
      this.$router.replace({ query: { sort: sortValues.id } }).catch(e => {})
      this.$bus.$emit('modal-hide', 'modal-productsortingpopup')
    }
  },
  components: {
    Modal
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-E5E5E5: color(gray-E5E5E5);
$cyan-67B6C3: color(cyan-67B6C3);

.modal {
  &.product-sorting-popup {
    .modal-container {
      height: auto;
      max-width: 445px;
      border-radius: 8px;
    }

    .modal-header {
      background-color: transparent;
      padding: 20px 25px;
      position: relative;
      margin: 0;
      border-bottom: 1px solid $gray-E5E5E5;
      text-align: center;
      justify-content: center;

      .modal-close {
        color: $color-primary;
        position: absolute;
        right: 25px;
        top: 20px;
      }
    }

    .modal-content {
      padding: 15px 30px;
    }

    .sorting-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      color: $gray-666666;

      li {
        cursor: pointer;
        margin: 15px 0;

        &.active,
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}
</style>
