<template>
  <div class="columns">
    <select
      name="column"
      class="cl-secondary"
      v-model="column"
      @change="changeColumn"
    >
      <option v-for="(option) in productsColumns" :value="option" :key="option">
        {{ option }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  data () {
    return {
      column: 3,
      productsColumns: [2, 3, 4, 6]
    }
  },
  methods: {
    changeColumn () {
      this.$emit('change-column', this.column)
    }
  }
}
</script>
<style lang="scss" scoped>
    @import '~theme/css/base/text';
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';
    $gray-D8D8D8: color(gray-D8D8D8);
    $gray-666666: color(gray-666666);
    $white: color(white);

    .columns {
        display: inline-flex;
        position: relative;
        border: 1px solid $gray-D8D8D8;
        background-color: $white;
        border-radius: 6px;
        min-width: 133px;
        height: 40px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 8px;
          top: 0;
          bottom: 0;
          width: 11px;
          height: 11px;
          margin: auto;
          background-image: url(/assets/down-arrow.svg);
          background-repeat: no-repeat;
          background-position: 0 -1px;
          background-size: auto;
          z-index: 0;
        }

        select {
            font-size: 14px;
            font-weight: 600;
            border: none;
            width: 100%;
            border-radius: 0;
            background-color: transparent;
            margin: 0;
            color: $gray-666666;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            appearance: none;
            cursor: pointer;
            position: relative;
            z-index: 1;

            &:focus {
                outline: none;
            }
        }

        &__icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
    @media (max-width: 770px) {
      .columns {
        width: 100%;
      }
    }
</style>
