<template>
  <modal class="my-account-menu-popup" name="modal-myaccountmenu" :width="445">
    <div slot="header" class="align-center">
      {{ $t('SELECT') }}
    </div>
    <div slot="content">
      <div class="account-menu">
        <nav class="static-menu">
          <ul class="m0 p0">
            <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
              <router-link :to="localizedRoute(page.link)" @click.native="updateMobileMenuTxt(page.title, page.class)">
                <span class="relative pl30 block">{{ page.title }}</span>
              </router-link>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </modal>
</template>
<script>
import i18n from '@vue-storefront/i18n'
import Modal from 'theme/components/core/Modal'

export default {
  data () {
    return {
      navigation: [
        { title: this.$t('My profile'), link: '/my-account', class: 'my-profile-icon' },
        { title: this.$t('Delivery Details'), link: '/my-account/shipping-details', class: 'delivery-details-icon' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter', class: 'newsletter-icon' },
        { title: this.$t('Order'), link: '/my-account/orders', class: 'order-icon' },
        { title: this.$t('My Reward Points'), link: '#', class: 'reward-points-icon' },
        { title: this.$t('My Product Reviews'), link: '#', class: 'review-icon' },
        { title: this.$t('Recently Viewed Products'), link: '/my-account/recently-viewed', class: 'recently-viewed-icon' }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$bus.$emit('modal-show', 'modal-myaccountmenu')
    })
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    updateMobileMenuTxt (mobilemenutxt, mobilemenuclass) {
      this.$bus.$emit('my-account-menu-clicked', mobilemenutxt, mobilemenuclass);
      this.$bus.$emit('modal-hide', 'modal-myaccountmenu')
    }
  },
  components: {
    Modal
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-E5E5E5: color(gray-E5E5E5);
$cyan-67B6C3: color(cyan-67B6C3);

.modal {
  &.my-account-menu-popup {
    .modal-container {
      height: auto;
      max-width: 445px;
      border-radius: 8px;
      width: 100% !important;
    }

    .modal-header {
      background-color: transparent;
      padding: 20px 25px;
      position: relative;
      margin: 0;
      border-bottom: 1px solid $gray-E5E5E5;
      text-align: center;
      justify-content: center;

      .modal-close {
        color: $color-primary;
        position: absolute;
        right: 25px;
        top: 20px;
      }
    }

    .modal-content {
      padding: 15px 30px;
      .static-menu{
        width:100%;
        ul{
          li{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            &:nth-child(1){
              a{
                & > span {
                  &:before{
                      background: url(/assets/person.png) no-repeat right top;
                  }
                }
              }
            }
            &:nth-child(2){
              a{
                & > span {
                  &:before{
                      background: url(/assets/map.png) no-repeat right top;
                  }
                }
              }
            }
            &:nth-child(3){
              a{
                & > span {
                  &:before{
                      background: url(/assets/email.png) no-repeat right top;
                  }
                }
              }
            }
            &:nth-child(4){
              a{
                & > span {
                  &:before{
                      background: url(/assets/order-icon.png) no-repeat right top;
                  }
                }
              }
            }
            &:nth-child(5){
              a{
                & > span {
                  &:before{
                      background: url(/assets/hend.png) no-repeat right top;
                  }
                }
              }
            }
            &:nth-child(6){
              a{
                & > span {
                  &:before{
                      background: url(/assets/folder-icon.png) no-repeat right top;
                  }
                }
              }
            }
            &:nth-child(7){
              a{
                & > span {
                  &:before{
                      background: url(/assets/history.png) no-repeat right top;
                  }
                }
              }
            }
            a{
              display:block;
              padding:15px 0;
              font-size: 14px;
              color: $gray-666666;
              &:after{
                display:none;
              }
              & > span {
                &:before{
                  content:'';
                  display: inline-block;
                  width:20px;
                  height:20px;
                  margin-right:10px;
                  vertical-align: middle;
                  background-position: right top;
                  transition: all 0.3s ease 0s;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
              &:hover{
                color: $cyan-67B6C3;
                & > span {
                  &:before{
                    background-position: left top;
                  }
                }
              }
              &.router-link-exact-active{
                color: $cyan-67B6C3;
                font-weight:600;
                & > span {
                  &:before{
                    background-position: left top;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
