<template>
  <div class="product-listing row">
    <div
      v-for="(product) in products"
      :key="product.id"
      class="col-xs-6 col-lg-4 flex"
      :class="['col-xl-' + (12/columns)]"
    >
      <product-tile @quick-view-detail="quickViewDetails" @read-sample-popup="readSamplePopup" :product="product" />
    </div>
    <product-quick-view v-if="quickViewProduct" :product="quickViewProduct" />
    <product-sample-popup v-if="readSampleProduct" :product="readSampleProduct" />
  </div>
</template>

<script>
import ProductTile from 'theme/components/core/ProductTile'
import ProductQuickView from 'theme/components/core/blocks/Product/ProductQuickView'
import ProductSamplePopup from 'theme/components/theme/blocks/Product/ProductSamplePopup'
let lastHero = 0
export default {
  name: 'ProductListing',
  data () {
    return {
      quickViewProduct: null,
      readSampleProduct: null
    }
  },
  components: {
    ProductTile,
    ProductQuickView,
    ProductSamplePopup
  },
  props: {
    products: {
      type: null,
      required: true
    },
    columns: {
      type: [Number, String],
      required: true
    }
  },
  methods: {
    wide (isOnSale, isNew, index) {
      let deltaCondition = index > 0 && ((index - 1) - lastHero) % 2 === 0
      // last image always shouldn't be big, we also need to count from last promoted to check if it will look ok
      let isHero = ((isOnSale === '1' || isNew === '1') && deltaCondition) || (index === this.products.length - 1 && (index - lastHero) % 2 !== 0)
      if (isHero) {
        lastHero = index
      }
      return isHero ? 'col-xs-12' : 'col-xs-6'
    },
    quickViewDetails (product) {
      if (product) {
        this.quickViewProduct = product;
        this.$bus.$emit('modal-show', 'quick-view-modal')
      }
    },
    readSamplePopup (product) {
      if (product) {
        this.readSampleProduct = product;
        this.$bus.$emit('modal-show', 'modal-product-sample')
      }
    }
  }
}
</script>
<style lang="scss">
.product-listing {
  @media (min-width: 1200px) {
    & > div:nth-child(n+5) {
      margin-top: 40px;
    }
  }

  @media (min-width:992px) and (max-width: 1199px) {
    & > div:nth-child(n+4) {
      margin-top: 40px;
    }
  }

  @media (min-width:576px) and (max-width: 991px) {
    & > div:nth-child(n+3) {
      margin-top: 16px;
    }
  }

  @media (max-width: 575px) {
    & > div:nth-child(n+3) {
      margin-top: 16px;
    }
  }
}
</style>
