<template>
  <div class="free-gifts cl-primary">
    <div class="sidebar-close-wrap">
      <button class="back-to-cart-btn inline-flex middle-xs" @click="toggleFreeGifts">
        <i
          class="material-icons icon mr10 pointer"
        >
          keyboard_backspace
        </i>
        <span>{{ $t('Back to Shopping Cart') }}</span>
      </button>
      <div class="sidebar-close">
        <img src="~theme/assets/sidebar-close.svg" alt="Free Gifts Close" @click="closeFreeGifts" class="desktop-close">
        <img src="~theme/assets/close-black.svg" alt="Free Gifts Close" @click="closeFreeGifts" class="mobile-close">
      </div>
    </div>
    <div class="sidebar-title">
      <h2>
        {{ $t('Free Gifts') }}
      </h2>
      <span class="free-gifts-count inline-flex middle-xs">
        {{ $t('2 Free Gifts Left') }}
      </span>
    </div>
    <h4 v-if="!products.length" class="cl-primary">
      {{ $t('Your free gifts list is empty.') }}
    </h4>
    <ul class="product-list">
      <product v-for="(prod, index) in products" :key="index" :product="prod" />
    </ul>
  </div>
</template>

<script>
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'
import Product from 'theme/components/core/blocks/FreeGifts/Product'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product
  },
  data () {
    return {
      products: []
    }
  },
  async mounted () {
    let freeGiftsQuery = prepareQuery({ queryConfig: 'products' })
    this.$store.dispatch('product/list', {
      query: freeGiftsQuery,
      size: 3,
      sort: 'created_at:desc'
    }).then(res => {
      if (res) {
        this.products = res.items
      }
    })
  },
  methods: {
    toggleFreeGifts () {
      this.$store.dispatch('ui/toggleFreeGifts')
      this.$store.dispatch('ui/toggleMicrocart')
    },
    closeFreeGifts () {
      this.$store.dispatch('ui/toggleFreeGifts')
      this.$store.commit('ui/setMicrocart')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-primary: color(primary);
$color-secondary: color(secondary);

.free-gifts {
  position: relative;
  padding: 40px;

  @media (max-width: 767px) {
    padding: 20px;
  }

  .sidebar-title {
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
}

.back-to-cart-btn {
  margin: 0 0 40px;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: $color-primary;
  font-size: 20px;
  font-weight: 500;

  @media (max-width: 767px) {
    margin: 0;
    font-size: 14px;

    .material-icons {
      font-size: 20px;
    }
  }

  &:hover {
    color: $color-secondary;
  }

  & > span {
    text-decoration: underline;
  }
}

.free-gifts-count {
  font-size: 16px;
  font-weight: 500;
  color: $gray-666666;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.sidebar-close-wrap {
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
  }
}
</style>
