<template>
  <li class="product-item">
    <div class="product-image-wrap" @click="closeWishlist">
      <router-link :to="productLink">
        <div class="product-cover">
          <product-image :image="image" />
        </div>
      </router-link>
    </div>
    <div class="product-item-content">
      <div class="product-item-text">
        <div @click="closeWishlist" class="product-item-text-wrap">
          <h5 class="product-item-title">
            <router-link :to="productLink">
              {{ product.name | htmlDecode }}
            </router-link>
          </h5>
          <div class="product-item-info-list">
            <div class="product-item-info-item">
              <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
              <span class="product-item-info-text weight-600 text-underline cl-primary">{{ $t('Natsuya Semikawa') }}</span>
            </div>
            <div class="product-item-info-item">
              <span class="product-item-info-title">{{ $t('Number of Page: ') }}</span>
              <span class="product-item-info-text">{{ $t('150') }}</span>
            </div>
          </div>
          <div class="product-item-btn-wrap">
            <button
              :product="product"
              class="add-free-gifts-btn btn-full"
            >
              {{ $t('ADD FREE GIFT') }}
            </button>
          </div>
        </div>
      </div>
      <div class="product-item-price-sec">
        <div class="weight-700 cl-secondary h1">
          <span class="price-special" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}&nbsp;</span>
          <span class="price-original" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>

          <span v-if="!product.special_price">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import config from 'config'
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'

export default {
  components: {
    ProductImage
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);
$color-white: color(white);

.blend {
  flex: 0 0 121px;
  opacity: .8;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  &:hover{
     opacity: 1;
   }
}
.col-xs {
  flex-direction: column;
}
input {
  width: 30px;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.add-free-gifts-btn {
  margin: 0 15px 0 0;
  min-width: 140px;
  text-align: center;
  width: auto;

  @media (max-width: 767px) {
    margin: 0 0 8px;
    padding: 6px 10px;
    min-width: 130px;
  }

  @media (max-width: 479px) {
    font-size: 10px;
  }
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.product-item {
  display: flex;
  margin-bottom: 30px;

  .product-image-wrap {
    flex: 0 0 120px;
    max-width: 120px;

    @media (max-width: 479px) {
      flex: 0 0 60px;
      max-width: 60px;
    }

    .product-cover {
      border-radius: 6px;
      overflow: hidden;
      position: relative;

      &__thumb {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 100%;
          background-color: rgba($color-white, 0.6);
          opacity: 0;
          transition: all 0.5s ease 0s;
        }
      }

      &:hover {
        .product-cover__thumb {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .product-item-content {
    flex: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding-left: 15px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 479px) {
      padding-left: 5px;
      flex: calc(100% - 60px);
      max-width: calc(100% - 60px);
    }
  }

  .product-item-title {
    margin-bottom: 10px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .product-item-info-list {
    font-weight: 500;
    font-size: 13px;
    color: $gray-666666;
    margin-bottom: 15px;
    line-height: 1.5;

    @media (max-width: 767px) {
      font-size: 10px;
      margin-bottom: 10px;
    }
  }
}
.read-sample-btn {
  min-width: 160px;
  min-height: 44px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 6px 10px;
    min-height: 36px;
  }

  @media (max-width: 479px) {
    min-width: 150px;
    font-size: 10px;
  }
}
.product-item-price-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 10px;

  @media (max-width: 767px) {
    padding-bottom: 8px;

    .h1 {
      font-size: 16px;
    }
  }

  @media (max-width: 479px) {
    padding-left: 5px;

    .h1 {
      font-size: 14px;
    }
  }
}
.product-item-text {
  flex: 0 0 60%;
  max-width: 60%;
}
.product-item-text-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-item-btn-wrap {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
}
</style>
