<template>
  <div
    class="relative dropdown"
    data-testid="accountButton"
    @click.self="goToAccount();showMenu = true;updateMobileMenuTxt($t('My profile'), 'my-profile-icon');"
    @keyup.enter="goToAccount"
    tabindex="0"
    role="button"
    @mouseover="showMenu = true"
    @mouseout="showMenu = false"
    :aria-label="$t('Open my account')"
  >
    <button
      type="button"
      class="bg-cl-transparent brdr-none btn-user"
    >
      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="User">
          <circle id="Oval" cx="10.2647" cy="5.55882" r="4.80882" fill="white" fill-opacity="0.1" stroke="white" stroke-width="1.5" />
          <path id="Rectangle" d="M1.00001 21V18.2693C1.00001 15.684 4.69379 13.5882 10.2647 13.5882C15.8356 13.5882 19.5294 15.684 19.5294 18.2693L19.5294 21" stroke="white" stroke-width="1.5" stroke-linecap="round" fill="white" fill-opacity="0.1" />
        </g>
      </svg>
      <span class="mt5 f-s-12 cl-white weight-500 block nowrap">{{ $t('Account') }}</span>
    </button>

    <no-ssr>
      <div v-show="currentUser" :class="['dropdown-content bg-cl-white align-left sans-serif lh20 weight-400', !showMenu ? 'dropdown-content__hidden' : '']">
        <div class="py5">
          <div v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
            <router-link @click.native="showMenu = false; updateMobileMenuTxt(page.title, page.class);" class="no-underline block py10 px15" :to="localizedRoute(page.link)">
              {{ page.title }}
            </router-link>
          </div>
        </div>
        <div class="py5">
          <a href="#" class="no-underline block py10 px15" @click.prevent="logout">
            {{ $t('Logout') }}
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import AccountIcon from '@vue-storefront/core/compatibility/components/blocks/Header/AccountIcon'

export default {
  mixins: [AccountIcon],
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      showMenu: false,
      navigation: [
        { title: this.$t('My profile'), link: '/my-account', class: 'my-profile-icon' },
        { title: this.$t('Delivery Details'), link: '/my-account/shipping-details', class: 'delivery-details-icon' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter', class: 'newsletter-icon' },
        { title: this.$t('Order'), link: '/my-account/orders', class: 'order-icon' },
        { title: this.$t('My Reward Points'), link: '#', class: 'reward-points-icon' },
        { title: this.$t('My Product Reviews'), link: '#', class: 'review-icon' },
        { title: this.$t('Recently Viewed Products'), link: '/my-account/recently-viewed', class: 'recently-viewed-icon' }
      ]
    }
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    updateMobileMenuTxt (mobilemenutxt, mobilemenuclass) {
      this.$bus.$emit('my-account-menu-clicked', mobilemenutxt, mobilemenuclass);
      this.$bus.$emit('modal-hide', 'modal-myaccountmenu')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.dropdown {

  button {
    pointer-events: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  a {
    color: $color-primary;

    &.router-link-exact-active,
    &:hover,
    &:focus {
      background-color: $color-secondary;
      color: $white;
    }

  }

  @media (min-width: 768px) {
    &:hover .dropdown-content:not(.dropdown-content__hidden),
    &:focus .dropdown-content:not(.dropdown-content__hidden) {
      display: block;
    }

    &:focus-within {
      background-color: $color-secondary;
      color: $white;
      .dropdown-content:not(.dropdown-content__hidden) {
        display: block;
      }
    }
  }

}
</style>
